<section class="twimp">

	<div class="twimp_header">
		<img class="twimp_header_img" [src]="twimp._author._image" alt="Imagen de un twimp">
		<a class="twimp_header_name" [href]="twimp._author._url" target="_b">by {{twimp._author._fullName}}</a>
		<div class="twimp_header_date">Published on {{twimp._timestamp}}</div>
	</div>

	<div class="twimp_content">
	{{twimp._content}}
	</div>

	<hr class="twimp_line">

	<div class="twimp_fav">
		<a class="fav_icon fav_icon-selected" href="#">&#10084;</a>
	</div>

</section>